<p>
  <strong>Referenz:</strong>
  <%= @vorgang.referenz %>
</p>

<p>
  <strong>Angaben:</strong>
  <%= @vorgang.angaben %>
</p>

<h2>Nachrichten</h2>
<%= render @vorgang.nachrichten %>

<h2>Nachricht senden:</h2>
<%= render 'nachrichten/form' %>

<%= link_to 'Bearbeiten', edit_vorgang_path %>
<%= link_to 'Zurück', vorgaenge_path %>
